---
import { CollectionEntry, getCollection } from "astro:content";
import BlogsList from "../components/BlogsList.astro";
import { getProjects, Project } from "../blog";
import Link from "../components/Link.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

export async function getStaticPaths() {
  return getProjects().map((project) => ({
    params: { projects: project.name },
    props: project,
  }));
}

export type Props = Project;

const project = Astro.props;
const posts = (await getCollection("blog"))
  .filter((post) => post.id.startsWith(project.name))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<DefaultLayout title={project.title}>
  <section>
    <div class="thumbnail">
      <img
        class="thumbnail-image"
        src={`/logos/${project.name}.svg`}
        alt={project.title}
      />
      <div class="thumbnail-body">
        <h1>{project.title}</h1>
        <p>{project.description}</p>
      </div>
    </div>
    <div>
      <Link variant="primary" href={project.website} target="_blank">
        Website
      </Link>
      <Link variant="primary" href={project.source} target="_blank">
        GitHub
      </Link>
      {project.translation && (
        <Link variant="primary" href={project.translation} target="_blank">
          Translation
        </Link>
      )}
    </div>
  </section>
  <section>
    <h2>Blogs</h2>
    <BlogsList posts={posts} />
  </section>
  <style>
    .thumbnail {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
    }
    .thumbnail-image {
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
    }
    .thumbnail-body {
      flex: 1;
    }
  </style>  
</DefaultLayout>
