---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getProjects } from "../blog";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import Table from "@components/Table.astro";
import TableItem from "@components/TableItem.astro";

const projects = await getProjects();
const libraries = await getCollection("libraries");
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="long-section">
    <h1 class="title">{SITE_TITLE}</h1>
    <p class="subtitle">Simple to use software for everyone</p>
  </section>
  <section class="long-section">
    <h2 class="section-title pb-md">Projects</h2>
    <ul class="row justify-center wrap align-stretch gap-sm">
      {
        projects.map((e) => (
          <li>
            <Link
              variant="secondary"
              href={`/${e.id}`}
              class="col align-center justify-between h-full"
              style={{ width: "150px" }}
            >
              <img
                src={`/logos/${e.data.logo ?? e.id}.svg`}
                alt={e.data.title}
                width="100"
                height="100"
              />
              <p class="text-center">{e.data.title}</p>
            </Link>
          </li>
        ))
      }
    </ul>
  </section>
  <section class="long-section container-md">
    <h2 class="section-title">Libraries</h2>
    <p class="pb-md text-center">Useful libraries for developers that want to build their own software</p>
    <Table>
      {
        libraries.map((e) => (
          <TableItem>
            <p class="text-center mb-none">{e.data.id}</p>
            <p class="normal text-center mt-none">{e.data.description}</p>
          </TableItem>
        ))
      }
    </Table>
  </section>
</DefaultLayout>
