---
import { getProject } from "src/blog";
import Link from "./Link.astro";
export interface Props {
    project?: string;
}

const { project } = Astro.props;
const current = project && await getProject(project);
---

{
    current && (
        <section>
            <div class="row gap-md pv-sm align-center justify-stretch">
                <img
                    class="thumbnail-image"
                    src={`/logos/${current.id}.svg`}
                    alt={current.data.title}
                />
                <div class="col gap-md">
                    <a href={`/${current.id}`} class="btn p-none justify-start"><h2 class="m-none">{current.data.title}</h2></a>
                    <p class="m-none">{current.data.description}</p>
                </div>
            </div>
            <div class="row wrap gap-xs pv-sm">
                <Link
                    variant="secondary"
                    href={current.data.website}
                    target="_blank"
                >
                    Website
                </Link>
                <Link
                    variant="secondary"
                    href={current.data.source}
                    target="_blank"
                >
                    GitHub
                </Link>
                {current.data.translation && (
                    <Link
                        variant="secondary"
                        href={current.data.translation}
                        target="_blank"
                    >
                        Translation
                    </Link>
                )}
            </div>
        </section>
    )
}
