---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import Link from "@components/Link.astro";
import DefaultLayout from "./DefaultLayout.astro";
import ProjectHero from "@components/ProjectHero.astro";
import Author from "@components/Author.astro";

type Props = CollectionEntry<"blog">["data"] & {
  project?: string,
};

const { title, description, date, heroImage, project, author } = Astro.props;
---

<DefaultLayout title={title} description={description ?? ""}>
  <article class="col">
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    <h1>{title}</h1>
    <FormattedDate date={date} />
    <ProjectHero project={project} />
    <Author author={author.id} />
    <hr class="v-divider" />
    <slot />
  </article>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-swup-reload-script
    data-repo="LinwoodDev/website"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyODU3NjEwMzg="
    data-category="General"
    data-category-id="DIC_kwDOEQheDs4CVKEK"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
