---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Link from "@components/Link.astro";
import DefaultLayout from "./DefaultLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  project?: {
    title: string;
    name: string;
  };
};

const { title, description, date, heroImage, project } = Astro.props;
---

<DefaultLayout title={title} description={description ?? ""}>
<article>
  {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
  <h1 class="title">{title}</h1>
  <FormattedDate date={date} />
  {
    project && (<p>
        <Link variant="secondary" href={`/${project.name}`}>{project.title}</Link>
    </p>)
  }
  <hr />
  <slot />
</article>
<script src="https://giscus.app/client.js"
        data-repo="LinwoodDev/website"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODU3NjEwMzg="
        data-category="General"
        data-category-id="DIC_kwDOEQheDs4CVKEK"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
</DefaultLayout>
